/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color:  pink;
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

img {
  width: 50px;
  height: 50px;
}
.footer__logo
{
  width: 30%;
}
.footer__wrap{
  display: flex;
}
.logo_wrap{
  display: flex;
  text-align: center;
}
.footer__menu
{
  width: 70%;
}
.footer_menu
{
  justify-content: space-between;
  margin-bottom: 7px;
}
.footer_up
{
  margin-bottom: 7px;
}
.footer_mid{
  margin-bottom: 7px;
}

.item1{
margin-top: 10px;
}
.card__item
{
  display: flex;
  border: black;
}
.card__img
{
  width: 45%;
}
#click button
{
  background: none;
  border: none;
}
.card__img{
  max-width: 100%;
  height: auto;
}
.card__img{
  background-image: url("images/linux_image.webp");
  width: 35%;
  background-size: cover;
  background-position: center;
}
.card__item{
  border: 1px solid;
  display: flex;
  min-height: 400PX;
  margin-bottom: 20px;
}
.section{
  padding: 40px;
}
.card__desc{
  padding: 30px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__bottom{
  display: flex;
  justify-content: space-between;
}
.views{
  display: flex;
  gap: 10px;
  align-items: center;
}
