/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color:  pink;
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

img {
  width: 50px;
  height: 50px;
}
.footer__logo
{
  width: 30%;
}
.footer__wrap{
  display: flex;
}
.logo_wrap{
  display: flex;
  text-align: center;
}
.footer__menu
{
  width: 70%;
}
.footer_menu
{
  justify-content: space-between;
  margin-bottom: 7px;
}
.footer_up
{
  margin-bottom: 7px;
}
.footer_mid{
  margin-bottom: 7px;
}

.item1{
margin-top: 10px;
}


.section{
  padding: 40px;
}
.cards__wrap
{
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
}

.cards_item img{  
  background-size: cover;
  width: 200px;
  height: 100px;

}
.cards_item{
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
}
.title_left{
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid purple;
  border-radius: 10px;
  background-color: red;
  font-size: 20px;

}


.title_right{
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid green;
  border-radius: 10px;
  background-color: blue;
  font-size: 20px;
}
.cards_img{
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top ;
}
.card_text{
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
}
.likes{
  cursor: pointer;
  border: none;
  background: none;
}
.cards_bottom{
  display: flex;
  justify-content: space-between;
}
.credits{
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
}
.likes img
{
  width: 80%;
}
.section_title
{
  margin: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  text-decoration: overline 10px green;
}
.info_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.info_card{
  background-color: wheat;
  border: darkmagenta solid 5px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 260px;
  height: 540px;
}
.img_info1{
  height: 70px;
  width: 70px;
  background-image: url("images/service1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.img_info2{
  height: 70px;
  width: 70px;
  background-image: url("images/service2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.img_info3{
  height: 70px;
  width: 70px;
  background-image: url("images/service3.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.img_info4{
  height: 70px;
  width: 70px;
  background-image: url("images/service4.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.img_info5{
  height: 70px;
  width: 70px;
  background-image: url("images/service5.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.img_info6{
  height: 70px;
  width: 70px;
  background-image: url("images/service6.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.info_title{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline 2px;
  margin: 5px;
}
.info_text{
  color: brown;
  margin: 10px;
  font-size: 20px;
}
.specialButton
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}